# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017/activity-logs

# Kafka broker address
KAFKA_BROKER=localhost:9092

# Service port
PORT=3000

# Disable KafkaJS partitioner warning
KAFKAJS_NO_PARTITIONER_WARNING=1
